* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #496F7E;
    padding: 20px;
    text-align: left;
}

header h1 {
    color: white;
    font-size: 24px;
    letter-spacing: 6px;
    font-family: "Poppins", sans-serif;
}

.between {
    flex: 1;                
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.chat-area {
    width: 100%;
    max-width: none;
    height: 100%;
    background: rgba(122,185,211,0.4);

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     

    padding: 25px;
    margin: 0;
    border-radius: 0;
}

.chat-area h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.chat-input {
    width: 80%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 14px;
}

.chat-info {
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.7;
    line-height: 1.4;
}

.emoji-area {
    text-align: center;
    margin-top: 40px;
}

.emoji-area h2 {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.emotion-box {
    width: 90%;
    max-width: 350px;
    background: rgba(122,185,211,0.3);
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto 50px auto;
}

.main-emotion {
    width: 130px;
    display: block;
    margin: 0 auto 20px auto;
}

.emoji-list {
    display: flex;
    justify-content: space-between;
}

.emoji {
    text-align: center;
}

.emoji img {
    width: 35px;
}

.emoji span {
    font-size: 14px;
}

footer {
    background: #496F7E;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 35px;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    margin-top: auto;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 8px;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

footer hr {
    width: 100%;    
    margin: 6px auto;  
    border: none;      
    border-top: 2px solid #ccc; 
    opacity: 2;     
}

.icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icons img {
    width: 25px;
}