* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: #496F7E;
    padding: 20px;
    text-align: left;
}

header h1 {
    color: white;
    font-size: 24px;
    letter-spacing: 6px;
    font-family: "Poppins", sans-serif;
}

.quem-somos {
    text-align: center;
    padding: 40px 20px;
    background: #f8f8f8;
    font-family: "Poppins", sans-serif;
}

.quem-somos h2 {
    font-size: 28px;
    letter-spacing: 6px;
    margin-bottom: 30px;
}

.quem-box {
    max-width: 750px;
    margin: auto;
    background: #7AB9D380;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #d4e5ea;
}

.quem-box p {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: #333;
}

footer {
    background: #496F7E;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 35px;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    margin-top: auto;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 8px;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

footer hr {
    width: 100%;       
    margin: 6px auto;  
    border: none;     
    border-top: 2px solid #ccc; 
    opacity: 2;     
}

.icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icons img {
    width: 25px;
}

